#experience-list{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}
/*#experience-list h3,
#experience-list h4,
#experience-list p
{
    text-align: left;
}*/