

#skills-ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}
#skills-ul>li{
    background-color: var(--color-yellow);
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    transition: all var(--transition-timing-m);
    cursor: pointer;
}
#skills-ul>li:hover{
    background-color: var(--color-yellow-white);
}
#about_me a{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: var(--color-yellow);
    text-decoration-style: double ;
    font-size: 26px;
}